@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap');
body{
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    background-color: #f0f2f5;
}
.loginpage{
    border: 1px solid black;
    border-radius: 30px;
    margin: auto;
    width: 500px;
    height: 330px;
    background-color: #ffff;
}
.text{
    margin-left: 238px;
    color: #1877f2;
}
.textbox{
    margin-left: 10px;
    color: #1c1e21;
    font-size: 16px;
}
.btn{
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    width: 332px;
    background-color: #1877f2;
    color: #f0f2f5;
    margin-left: 70px;
}
.textbox input{
    border-radius: none;
    border: none;

}